<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ./header.ejs %>

<!-- home
================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">

            <h3>Welcome to Demo page</h3>

            <h1>
                Tyzen Health Data Project<br>
                by JH Lim and SM Moon<br>
            </h1>

            <div class="home-content__buttons">
                <a href="/demoReady" class="btn btn--stroke">
                    Start a Demo
                </a>
            </div>

        </div>

    </div> <!-- end home-content -->

</section> <!-- end s-home -->


<% include ./footer.ejs %>

</html>
