<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ./header.ejs %>

<!-- home
================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/background_image.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <!-- demo
    ================================================== -->
    <section id='demo_header' class="demo-content">

        <div class="row home-content__content" height="800px">
            <div class="col-six tab-full" style="background:white;">
              <h3 style="color:black;text-align:center;">Parameter Set</h3>

              <div align="center" style="padding-top:2rem">
                <form action="setting" method="post" id="param">
                  <ul class="stats-tabs" style="position:center;">
                    <li style="width:35%">
                      <em>From</em></br>
                      <input type="date" id="date-from" name="date-from" value="2018-09-20">
                    </li>
                    <li style="width:35%">
                      <em>To</em></br>
                      <input type="date" id="date-to" name="date-to" value="2018-09-20">
                    </li>
                    <li style="width:25%">
                      <em>Gender</em>
                      <select style="width:50%;" id="gender">
                        <option value="all">All</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </li>
                  </ul>
                  <input class="btn--primary" type="submit" value="Submit">
                </form>
              </div>
            </div>

            <div class="col-six tab-full" style="background:white;">
              <h3 style="color:black;text-align:center;">Result</h3>
                <div id="chart-container" align="center" style="margin:4rem">
                  <canvas id="demoChart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row section-header has-bottom-sep light-sep">
                <div class="col-full" style="padding-bottom: 5rem; padding-top: 3rem">
                    <h2 class="display-2--light"><strong>개인정보를 안전하고 편리하게 빅데이터 처리할 수 있는 방법 <p>중간 진도 점검</strong></h2>
                </div>
                <div class="col-full" align="center">
                  <div class="col-four">
                      <img src="images/고려대.png">
                  </div>
                  <div class="col-four">
                      <img src="images/상명대.png">
                  </div>
                  <div class="col-four">
                      <img src="images/숙명여대.png">
                  </div>
                </div>
            </div> <!-- end section-header -->
        </div>
    </section>

</section> <!-- end s-home -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="js/demoResultChart.js"></script>
<script src="js/demoRequest.js"></script>

<% include ./footer.ejs %>

</html>
