<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<% include ./header.ejs %>

<!-- home
================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <!-- works
    ================================================== -->
    <section id='works' class="home-content">

        <div class="row home-content__content">

            <div class="row section-header has-bottom-sep light-sep">
                <div class="col-full">
                    <h3 class="subhead">Demo Result</h3>
                    <h1 class="display-2 display-2--light">...</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->
    </section>
</section> <!-- end s-home -->


<% include ./footer.ejs %>

</html>
